@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#app {
  background: #f5f9ff;
}

%detached {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  border-radius: 10px;
  background: #fbfdff;
  box-shadow: 0 3px 12px rgba(154, 160, 185, 0.05), 0 5px 7px rgba(166, 173, 201, 0.2);
  width: 100%;
}

%fancy-input {
  height: 25px;
  width: 300px;
  margin-top: 10px;
  padding: 5px 15px;
  border: 1px solid #f5f9ff;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 10px 15px rgba(166, 173, 201, .2);
}

.input{
  @extend %fancy-input;
}

.searchWrapper {
  height: 180px;
  @extend %flex-c-0;

  &__inputWrapper {
    position: relative;
    height: 45px;
    width: 50%;
    margin-top: 5%;
    @extend %flex-c-0;
    transition: all 0.3s cubic-bezier(0, 0.76, 0.07, 1.15);

    &--resultSelected {
      width: 80%;
      margin-top: 0;
    }

    &__input {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      outline: none;
      border: none;
      padding: 0 15px;
      font-family: 'Poppins', sans-serif;
      background: #feffff;
      box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 10px 15px rgba(166, 173, 201, .2);

      &--resultSelected {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  &__resultsWrapper {
    @extend %detached;

    &__result {
      padding: 20px;
      transition: 0.2s all;

      &__text {
        font-family: 'Montserrat', sans-serif;
      }

      &:hover {
        background: #f5f9ff;
        cursor: pointer;
      }
    }

    &__noResults {
      padding: 20px;
      @extend %flex-c-c;
      flex-direction: column;
      font-family: 'Montserrat', sans-serif;


      &__addNew {
        color: #5eba00;
        margin-top: 10px;
        background: transparent;
        border: none;
        outline: none;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__addReviewWrapper {
    @extend %detached;
    padding: 30px 40px;
    overflow: auto;
    box-sizing: border-box;

    &__header {
      @extend %flex-c-c;
      flex-direction: column;

      &__selected {
        font-size: 0.7rem;
        font-family: "Poppins", sans-serif;
        letter-spacing: 2px;
        font-weight: bold;
        color: #929eab;
      }

      &__location {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1rem;
      }
    }

    &__form {

      &__textarea {
        @extend %fancy-input;
        height: 60px;
        width: 500px;
      }

      &__ratesWrapper {
        display: flex;
        margin-top: 10px;
      }
    }


    .form-group {
      align-items: normal !important;
      margin: 20px 0;
    }
  }
}


.form-group {
  @extend %flex-c-c;
  flex-direction: column;
  margin: 15px 0;

  label {
    align-self: baseline;
    font-family: "Poppins", sans-serif;
    margin-bottom:10px;
  }
}

.formGroup__label {
  align-self: baseline;
  font-family: "Poppins", sans-serif;
  margin-bottom:10px;
}


.btn {
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.2s all;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &--success {
    background: #5eba00;
    border: 1px solid #5eba00;
    color: #fff;

    &:hover {
      background: #56ab00;
      border: 1px solid #56ab00;
      color: #fff;
    }
  }

  &--outlined--danger {
    background: #fff;
    border: 1px solid #cd201f;
    color: #cd201f;

    &:hover {
      background: #cd201f;
      color: #fff;
    }
  }

  &--danger {
    background: #cd201f;
    border: 1px solid #cd201f;
    color: #fff;
  }
}


.customRadio {
  display: block;
  position: relative;
  padding-left: 30px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  font-family: 'Montserrat', sans-serif !important;

  input {
    display: none;
  }

  &__selectbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
}


/* On mouse-over, add a grey background color */
.customRadio:hover input ~ .customRadio__selectbox {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.customRadio input:checked ~ .customRadio__selectbox {
  background-color: #58acff;
  box-shadow: 0 1px 10px #9aa0b9a1, 0 5px 10px rgba(166, 173, 201, 0.36);
}


/* Show the indicator (dot/circle) when checked */
.customRadio input:checked ~ .customRadio__selectbox:after {
  display: block;
}

.paginator{
  list-style-type: none;
  display: flex;
  position: absolute;
  top: 105%;
  left: calc( 50% - 50px);
  background: #fbfdff;
  box-shadow: 0 3px 12px rgba(154, 160, 185, 0.05), 0 5px 7px rgba(166, 173, 201, 0.2);
  padding: 15px 25px;
  border-radius: 10px;
  z-index: 2;

  .page-item{
    margin: 0 5px;

    a{
      text-decoration: none;
      color: royalblue;
      font-size: 1.4rem;
      font-family: sans-serif;
    }
  }
}