.reviewWrapper{
  &__differencesWrapper{
    @extend %flex-c-c;

  }

  &__input{
    @extend %fancy-input;
    height: 100px;
    width: 260px;
    margin: 0 10px;

    &__comment{
      width: 100%;
    }
  }
}