// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import "index";
@import "review";

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}


%flex {
  display: flex !important;
}

%flex-column {
  display: flex !important;
  flex-direction: column !important;
}

%flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

%grid-c-c {
  display: grid !important;
  justify-content: center !important;
  align-items: center !important;
}

%flex-sa-c {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
}

%flex-se-c {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}

%flex-c-0 {
  display: flex !important;
  justify-content: center !important;
}

%flex-0-c {
  display: flex !important;
  align-items: center !important;
}

.btn {
  padding: 10px 15px;
  font-weight: 400;
  border-radius: 3px;
  font-size: 0.9rem;
  height: 45px;
  font-family: "Poppins", sans-serif;
  transition: 0.2s all ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

.btn-success {
  color: #fff;
  background-color: #5eba00;
  outline: none;
  border: 1px solid #5eba00;

  &:hover {
    background-color: #4a9200;
  }
}

.overlayWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__modalWrapper {
    padding: 30px 40px 15px 40px;
    box-sizing: border-box;
    position: fixed;
    border-radius: 10px;
    background: #fbfdff;
    box-shadow: 0 3px 12px rgba(154, 160, 185, 0.05), 0 5px 7px rgba(166, 173, 201, 0.2);
    width: 670px;
    z-index: 900;
    overflow: auto;
    display: flex;
    flex-direction: column;

    &__text{
      padding: 20px;
      text-align: center;
      margin: 20px;
      font-family: sans-serif;
    }


    &__buttonsWrapper{
      display: flex;
      justify-content: space-evenly;
    }
  }
}
