<template>
    <div class="addNewWrapper">
        <errors :errors="errors"></errors>
        <div class="form-group">
            <label for="location">Location: </label>
            <input type="text" class="addNewWrapper__input" id="location" name="location"
                   v-model="newData.location"
                   placeholder="Location name">
        </div>
        <div class="form-group">
            <label for="country">Country: </label>
            <input type="text" class="addNewWrapper__input" id="country" name="country"
                   v-model="newData.country"
                   placeholder="Country name">
        </div>
        <div class="form-group">
            <label for="info">Location description: </label>
            <input type="text" class="addNewWrapper__input" id="info" name="info"
                   v-model="newData.info"
                   placeholder="Location description">
        </div>
        <div class="addNewWrapper__buttonsWrapper">
            <button class="btn btn--outlined--danger"
                    @click="cancelAddLocation">Cancel
            </button>
            <button class="btn btn--success" @click="addLocation">
                Create
            </button>
        </div>
    </div>
</template>

<script>
    import {store} from '../store.js';
    import Errors from "./ErrorsComponent";

    export default {
        name: 'add-location',
        components: {Errors},
        store: store,
        mounted() {
            let query = this.searchQuery.split(",");
            this.newData.location = query[0];
            if (query.length > 1) {
                this.newData.country = query[1];
            }
        },
        data() {
            return {
                newData: {
                    location: "",
                    country: "",
                    info: ""
                },
                errors: []
            }
        },
        methods: {
            addLocation() {
                axios.post('/locations', this.newData)
                    .then(response => {
                        let item = response.data;
                        item.average = null;
                        this.$store.commit('setSelectedLocation', item);
                        this.$store.commit('setModalOpen', true);
                        this.$store.commit('setAddLocation', false);
                    })
                    .catch(error => {
                        if (error.response.status === 401) {
                            this.errors = [[error.response.data.message]];
                        } else {
                            this.errors = error.response.data.errors;
                        }
                    });
            },
            cancelAddLocation() {
                this.newData = {
                    location: "",
                    country: ""
                };
                this.$store.commit('setAddLocation', false);
                this.inputRef.focus();
            },
        },
        computed: {
            inputRef() {
                return this.$store.getters.getInputRef;
            },
            searchQuery() {
                return this.$store.getters.getSearchQuery;

            }
        }
    }
</script>

<style lang="scss">
    .addNewWrapper {
        box-sizing: border-box;
        position: absolute;
        top: calc(100% + 15px);
        left: 0;
        border-radius: 10px;
        background: #fbfdff;
        box-shadow: 0 3px 12px rgba(154, 160, 185, 0.05), 0 5px 7px rgba(166, 173, 201, 0.2);
        width: 100%;
        display: flex;
        max-height: 800px;
        overflow: auto;
        align-items: center;
        flex-direction: column;
        padding: 30px;

        .errorWrapper {
            width: 100%;
        }

        .form-group {
            width: 40%;
        }

        &__input {
            height: 25px;
            width: 90%;
            margin-top: 10px;
            padding: 5px 15px;
            border: 1px solid #f5f9ff;
            border-radius: 5px;
            outline: none;
            box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 10px 15px rgba(166, 173, 201, .2);
        }


        &__buttonsWrapper {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 50%;
            margin-top: 15px;
        }
    }
</style>