<template>
    <div class="commentsWrapper__item">
        <div class="commentsWrapper__item__header">
            {{ comment.user.username}}
            <div class="icon commentsWrapper__item__header__expand"
                 v-if=" user !== null && comment.user.username === user.username">
                <i class="fas fa-ellipsis-v" v-if="!commentOptionsExpanded"
                   @click="commentOptionsExpanded = !commentOptionsExpanded"></i>
                <i class="fas fa-times" v-else @click="commentOptionsExpanded = !commentOptionsExpanded"></i>
                <div class="commentsWrapper__item__header__expanded" v-if="commentOptionsExpanded">
                    <div @click="openEdit"><i class="fas fa-edit"></i> Edit</div>
                    <div @click="openDelete"><i class="fas fa-trash"></i> Delete</div>
                </div>
            </div>
        </div>
        <div class="commentsWrapper__item__body">
            <div class="commentsWrapper__item__body__rating">
                {{ comment.rating }}
            </div>
            <div class="commentsWrapper__item__body__proscons">
                <p class="commentsWrapper__item__pros">
                    {{ comment.pros}}
                </p>
                <p class="commentsWrapper__item__cons">
                    {{ comment.cons}}
                </p>
            </div>
            <p class="commentsWrapper__item__body__comment">
                {{ comment.comment}}
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'comment',
        props: ['pComment'],
        data() {
            return {
                commentOptionsExpanded: false
            }
        },
        methods: {
            openEdit() {
                this.$store.commit('setSelectedComment', this.comment);
                this.$store.commit('setModalOpen', true);
            },
            openDelete() {
                this.$store.commit('setSelectedComment', this.comment);
                this.$store.commit('setModal', ['local', 'opened', true]);
                this.$store.commit('setModal', ['local', 'type', 'delete']);
            },
            setModalState(modalNameState) {
                this.$store.commit(modalNameState, true);
            }
        },
        computed: {
            isModalOpen() {
                return this.$store.getters.getModalOpen;
            },
            loggedIn() {
                return this.$store.getters.getLoggedIn;
            },
            user() {
                return this.$store.getters.getUser;
            },
            comment() {
                return this.pComment;
            }
        }
    }
</script>

<style scoped lang="scss">
    .commentsWrapper__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 180px;
        padding: 10px 15px;
        font-family: sans-serif;


        &__header {
            width: 100%;
            height: 25px;
            position: relative;

            &__expand {
                position: absolute;
                top: 10px;
                right: 20px;


                &:hover {
                    cursor: pointer;
                }
            }

            &__expanded {
                position: absolute;
                height: 70px;
                right: -7px;
                top: 25px;
                width: 70px;
                display: flex;
                justify-content: space-evenly;
                /* align-items: center; */
                flex-direction: column;
                font-family: sans-serif;
                background: #fbfdff;
                box-shadow: 0 0 10px 1px rgba(154, 160, 185, 0.05), 0 0 8px 2px rgba(166, 173, 201, 0.2);
                padding: 5px;
            }
        }

        &__body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 85%;

            &__rating {
                font-size: 1.7rem;
                font-weight: bold;
            }

            &__proscons {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }

    }
</style>