<template>
    <div class="commentsWrapper">
        <div class="commentsWrapper__addReview">
            <p class="commentsWrapper__addReview__text" v-if="loggedIn" @click="openAddNew">
                <i class="fas fa-plus"></i>
                Add your comment</p>
            <p class="commentsWrapper__addReview__text" v-else @click="setModalState('setLoginModal')">Please log in for
                commenting</p>
        </div>
        <review v-show="isModalOpen"></review>
        <question-delete-modal></question-delete-modal>
        <comment :p-comment="comment" v-for="comment in getComments" :key="comment.id"></comment>
        <p class="commentsWrapper__noComments" v-if="getComments.length === 0"> No comments for this location yet.</p>
        <pagination class="paginator" :data="comments" @pagination-change-page="fetchComments" align="center"
                    size="small"></pagination>
    </div>
</template>

<script>
    import Review from './ReviewComponent';
    import Comment from './CommentComponent';
    import QuestionDeleteModal from "./QuestionDeleteModal";

    export default {
        name: 'comments',
        components: {
            QuestionDeleteModal,
            Review,
            Comment
        },
        data() {
            return {
                comments: {},
            }
        },
        mounted() {
            this.fetchComments();
        },
        methods: {
            fetchComments(page = 1) {
                axios.get('/location/' + this.selectedLocation.id + '/comments?page=' + page)
                    .then(response => {
                        this.comments = response.data;
                        this.$store.commit('setComments', response.data.data);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            openAddNew() {
                this.$store.commit('setSelectedComment', null);
                this.setModalState('setModalOpen');
            },
            setModalState(modalNameState) {
                this.$store.commit(modalNameState, true);
            }
        },
        computed: {
            isModalOpen() {
                return this.$store.getters.getModalOpen;
            },
            selectedLocation() {
                return this.$store.getters.getSelectedLocation;
            },
            getComments() {
                return this.$store.getters.getComments;
            },
            loggedIn() {
                return this.$store.getters.getLoggedIn;
            },
        }
    }
</script>

<style scoped lang="scss">

    .commentsWrapper {
        padding: 30px 0;
        box-sizing: border-box;
        position: absolute;
        top: calc(100% + 35px);
        left: 0;
        border-radius: 10px;
        background: #fbfdff;
        box-shadow: 0 3px 12px rgba(154, 160, 185, 0.05), 0 5px 7px rgba(166, 173, 201, 0.2);
        width: 100%;
        display: flex;
        flex-direction: column;

        &__addReview {
            &__text {
                text-align: center;
                font-family: sans-serif;
                color: #4cba3e;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__noComments {
            text-align: center;
            font-family: sans-serif;
        }
    }
</style>