<template>
    <div :class="['errorWrapper', {'errorWrapper--danger' : errors.length !== 0}]">
        <div v-for="error in errors">
            <span v-for="suberror in error">
                {{ suberror }}
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'errors',
        props: ['errors'],
        data() {
            return {}
        },
        methods: {}
    }
</script>

<style scoped lang="scss">
    .errorWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 200px;
        overflow: auto;
        padding: 20px;
        text-align: center;

        &--danger {
            color: #6b1110;
            background-color: #f5d2d2;
            border-color: #f1c1c0;
        }
    }
</style>