<template>
    <div class="infoWrapper">
        <div class="infoWrapper__informationWrapper">
            <header class="infoWrapper__informationWrapper__header">
                {{ location.name}}, {{ location.country.name}}
            </header>
            <main class="infoWrapper__informationWrapper__description">
                {{ location.info }}
            </main>
        </div>
        <aside class="infoWrapper__analyticsWrapper">
            <span class="infoWrapper__analyticsWrapper__rating">{{(location.average != null && !isNaN(location.average)) ? parseFloat(location.average).toFixed(2) : '?' }}</span>
            <span class="infoWrapper__analyticsWrapper__number_of_votes">{{ location.number_of_votes }} users voted</span>
        </aside>
        <comments></comments>
    </div>
</template>

<script>
    import Comment from './CommentsComponent';

    export default {
        name: 'info',
        components: {
            'comments': Comment
        },
        data() {
            return {}
        },
        methods: {},
        computed: {
            location() {
                return this.$store.getters.getSelectedLocation;
            }
        }
    }
</script>

<style lang="scss">
    .infoWrapper {
        padding: 30px 40px 15px 40px;
        box-sizing: border-box;
        position: absolute;
        top: calc(100% + 15px);
        left: 0;
        border-radius: 10px;
        background: #fbfdff;
        box-shadow: 0 3px 12px rgba(154, 160, 185, 0.05), 0 5px 7px rgba(166, 173, 201, 0.2);
        width: 100%;
        display: flex;

        &__informationWrapper {
            height: 100%;
            width: 70%;

            &__header {
                font-family: 'Montseratt', sans-serif;
                font-size: 2rem;
            }

            &__description {
                font-family: 'Montseratt', sans-serif;
                font-size: 0.9rem;
                margin-top: 20px;
                max-height: 200px;
                width: 50%;
                overflow: auto;
                color: #8092af;
            }
        }

        &__analyticsWrapper {
            height: 100%;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: 'Montseratt', sans-serif;


            &__rating {
                display: block;
                font-weight: bolder;
                font-size: 2rem;
            }

            &__number_of_votes {
                display: block;
                font-size: 0.8rem;
            }

        }


    }
</style>