<template>
    <div class="overlayWrapper">
        <div class="loginWrapper">
            <errors :errors="errors"></errors>
            <div class="form-group" v-if="!isLogin">
                <label for="username">Username: </label>
                <input type="email" class="input" id="username" name="username"
                       v-model="loginData.username"
                       placeholder="Username">
            </div>
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" class="input" id="email" name="email"
                       v-model="loginData.email"
                       placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" class="input" id="password" name="password"
                       v-model="loginData.password"
                       placeholder="Password" @keydown.enter.once="login">
            </div>
            <div class="form-group" v-if="!isLogin">
                <label for="repassword">Repeat password: </label>
                <input type="password" class="input" id="repassword" name="repassword"
                       v-model="loginData.password_confirmation"
                       placeholder="Repeat password" @keydown.enter.once="login">
            </div>
            <div class="addNewWrapper__buttonsWrapper buttonsWrapper">
                <button class="btn btn--outlined--danger" @click="cancelLogin">Cancel
                </button>
                <button class="btn btn--success" @click="login">
                    {{ isLogin ? "Login" : "Register"}}
                </button>
            </div>
            <span class="loginWrapper__switchText" @click="isLogin = false" v-if="isLogin">Don't have an account? Register</span>
            <span class="loginWrapper__switchText" @click="isLogin = true" v-if="!isLogin">Have an account? Log in instead</span>
        </div>
    </div>
</template>

<script>
    import Errors from './ErrorsComponent';

    export default {
        name: 'login',
        components: {
            Errors
        },
        data() {
            return {
                loginData: {
                    username: "",
                    email: "",
                    password: "",
                    password_confirmation: "",
                },
                isLogin: true,
                errors: [],
            }
        },
        methods: {
            login() {

                let url = this.isLogin ? "/login" : "/register";
                axios.post(url, this.loginData)
                    .then(response => {
                        if (response.data.success) location.reload();
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors;
                    });
            },
            cancelLogin() {
                this.$store.commit('setLoginModal', false);

                this.loginData = {
                    username: "",
                    email: "",
                    password: "",
                    password_confirmation: "",
                }
            }
        },
        computed: {
            selectedLocation() {
                return this.$store.getters.getSelectedLocation;
            },
            getSelectedComment() {
                return this.$store.getters.getSelectedComment;
            }
        }
    }
</script>


<style scoped lang="scss">

    .overlayWrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }


    .buttonsWrapper {
        width: 100%;
    }

    .loginWrapper {
        padding: 30px 40px 15px 40px;
        box-sizing: border-box;
        position: fixed;
        border-radius: 10px;
        background: #fbfdff;
        box-shadow: 0 3px 12px rgba(154, 160, 185, 0.05), 0 5px 7px rgba(166, 173, 201, 0.2);
        width: 670px;
        z-index: 900;
        overflow: auto;
        display: flex;
        flex-direction: column;

        &__switchText {
            margin: 20px auto 10px auto;
            font-family: sans-serif;

            &:hover {
                cursor: pointer;
            }
        }
    }
</style>