<template>
    <div class="overlayWrapper" v-if="modalState && modalType === 'delete'">
        <div class="overlayWrapper__modalWrapper">
            <errors :errors="errors"></errors>
            <div class="overlayWrapper__modalWrapper__text">
                Do you really want to delete this question?
            </div>
            <div class="overlayWrapper__modalWrapper__buttonsWrapper">
                <button class="btn btn--outlined--danger" @click="cancel">Cancel
                </button>
                <button class="btn btn--danger" @click="deleteAction">Delete</button>
            </div>
        </div>
    </div>
</template>

<script>
    import Errors from './ErrorsComponent';
    import {store} from '../store.js';

    export default {
        name: 'question-delete-modal',
        store: store,
        components: {
            Errors
        },
        data() {
            return {
                errors: [],
                opened: false
            }
        },
        methods: {
            deleteAction() {
                axios.delete("/review/" + this.comment.id)
                    .then(response => {
                        if (response.data.success) {
                            this.$store.commit('updateArrayValue', ['comments', this.comment.id, null]);
                            this.$store.commit('setSelectedLocation', response.data.data);
                            this.cancel();
                        }
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors;
                    });
            },
            cancel() {
                this.$store.commit('setModal', ['local', 'opened', false]);
            }
        },
        computed: {
            modalState() {
                return this.$store.getters.getModal('local').opened;
            },
            modalType() {
                return this.$store.getters.getModal('local').type;
            },
            comment() {
                return this.$store.getters.getSelectedComment;
            }
        }
    }
</script>


<style scoped lang="scss">
    .buttonsWrapper {
        width: 100%;
    }

    .loginWrapper {
        padding: 30px 40px 15px 40px;
        box-sizing: border-box;
        position: fixed;
        border-radius: 10px;
        background: #fbfdff;
        box-shadow: 0 3px 12px rgba(154, 160, 185, 0.05), 0 5px 7px rgba(166, 173, 201, 0.2);
        width: 670px;
        z-index: 900;
        overflow: auto;
        display: flex;
        flex-direction: column;

        &__switchText {
            margin: 20px auto 10px auto;
            font-family: sans-serif;

            &:hover {
                cursor: pointer;
            }
        }
    }
</style>