<template>
    <div class="searchWrapper__resultsWrapper">
        <div class="searchWrapper__resultsWrapper__result" v-for="result in results"
             @click="selectLocation(result)">
            <span class="searchWrapper__resultsWrapper__result__text">{{ result.name}} | {{ result.country.name}}</span>
        </div>
        <div class="searchWrapper__resultsWrapper__noResults" v-if="isQueryNotEmpty && results.length === 0">
            <span v-if="getErrorSearchMessage.length === 0">No results</span>
            <span v-else>{{ getErrorSearchMessage }}</span>
            <button class="searchWrapper__resultsWrapper__noResults__addNew" @click="setAddLocation"
                    v-if="getErrorSearchMessage.length === 0 && user !== null">
                Add new location
            </button>
            <button class="searchWrapper__resultsWrapper__noResults__addNew" @click="setModalState('setLoginModal')"
                    v-else-if="user == null">
                Please login to add a location
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'results-component',
        props: ['results'],
        data() {
            return {}
        },
        methods: {
            selectLocation(result) {
                this.$store.commit('setModalOpen', false);
                this.$store.commit('setSelectedLocation', result);
            },
            setAddLocation() {
                this.$store.commit('setAddLocation', true);

            },
            setModalState(modalNameState) {
                this.$store.commit(modalNameState, true);
            }
        },
        computed: {
            getErrorSearchMessage() {
                return this.$store.getters.getErrorSearchMessage;
            },
            getSearchQuery() {
                return this.$store.getters.getSearchQuery;
            },
            isQueryNotEmpty() {
                return this.getSearchQuery.length !== 0;
            },
            user() {
                return this.$store.getters.getUser;
            }
        }
    }
</script>
