<template>
    <div class="overlayWrapper">
        <div class="reviewWrapper">
            <errors :errors="errors"></errors>
            <div class="reviewWrapper__radioWrapper">
                <label class="formGroup__label">Rating: </label>
                <div>
                    <label class="reviewWrapper__radioWrapper__label">1
                        <input type="radio" name="rating" value="1" v-model="reviewData.rating">
                        <span class="reviewWrapper__radioWrapper__radio"></span>
                    </label>
                    <label class="reviewWrapper__radioWrapper__label">2
                        <input type="radio" name="rating" value="2" v-model="reviewData.rating">
                        <span class="reviewWrapper__radioWrapper__radio"></span>
                    </label>
                    <label class="reviewWrapper__radioWrapper__label">3
                        <input type="radio" name="rating" value="3" v-model="reviewData.rating">
                        <span class="reviewWrapper__radioWrapper__radio"></span>
                    </label>
                    <label class="reviewWrapper__radioWrapper__label">4
                        <input type="radio" name="rating" value="4" v-model="reviewData.rating">
                        <span class="reviewWrapper__radioWrapper__radio"></span>
                    </label>
                    <label class="reviewWrapper__radioWrapper__label">5
                        <input type="radio" name="rating" value="5" v-model="reviewData.rating">
                        <span class="reviewWrapper__radioWrapper__radio"></span>
                    </label>
                </div>
            </div>
            <div class="reviewWrapper__differencesWrapper">
                <div class="form-group">
                    <label for="pros">Pros: </label>
                    <textarea class="reviewWrapper__input" id="pros" name="pros"
                              v-model="reviewData.pros"
                              placeholder="Pros for this location"></textarea>
                </div>
                <div class="form-group">
                    <label for="cons">Cons: </label>
                    <textarea class="reviewWrapper__input" id="cons" name="cons"
                              v-model="reviewData.cons"
                              placeholder="Cons for this location"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="comment">Comment: </label>
                <textarea class="reviewWrapper__input reviewWrapper__input__comment" id="comment" name="comment"
                          v-model="reviewData.comment"
                          placeholder="Comment for this location"></textarea>
            </div>
            <div class="addNewWrapper__buttonsWrapper buttonsWrapper">
                <button class="btn btn--outlined--danger" @click="cancelAddReview">Cancel
                </button>
                <button class="btn btn--success" @click="addReview">
                    {{ this.getSelectedComment !== null ? "Update" : "Create" }}
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import Errors from "./ErrorsComponent";

    export default {
        name: 'review',
        components: {Errors},
        data() {
            return {
                reviewData: {
                    pros: "",
                    cons: "",
                    comment: "",
                    rating: null,
                },
                errors: []
            }
        },
        methods: {
            addReview() {
                let method = "post";
                let url = '/location/' + this.selectedLocation.id + '/review';
                if (this.getSelectedComment !== null) {
                    method = "put";
                    url = "/review/" + this.getSelectedComment.id;
                    this.reviewData.user = this.getSelectedComment.user;
                }

                axios({
                    method: method,
                    url: url,
                    data: this.reviewData
                })
                    .then(response => {
                        if (method === "put") {
                            this.reviewData.id = this.getSelectedComment.id;
                            this.$store.commit('updateArrayValue', ['comments', this.getSelectedComment.id, this.reviewData]);
                            this.$store.commit('setSelectedLocation', response.data.data);
                        } else {
                            this.$store.commit('pushToArray', ['comments', response.data.review]);
                            this.$store.commit('setSelectedLocation', response.data.location);
                        }
                        this.cancelAddReview();
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors;
                    });
            },
            cancelAddReview() {
                this.$store.commit('setModalOpen', false);
                this.reviewData = {
                    pros: "",
                    cons: "",
                    comment: "",
                    rating: null,
                };
            }
        },
        watch: {
            getSelectedComment(value) {
                if (value !== null) {
                    this.reviewData.comment = value.comment;
                    this.reviewData.pros = value.pros;
                    this.reviewData.cons = value.cons;
                    this.reviewData.rating = value.rating;
                }
            }
        },
        computed: {
            selectedLocation() {
                return this.$store.getters.getSelectedLocation;
            },
            getSelectedComment() {
                return this.$store.getters.getSelectedComment;
            }
        }
    }
</script>


<style scoped lang="scss">
    .overlayWrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .buttonsWrapper {
        width: 100%;
    }

    .reviewWrapper {
        padding: 30px 40px 15px 40px;
        box-sizing: border-box;
        position: fixed;
        border-radius: 10px;
        background: #fbfdff;
        box-shadow: 0 3px 12px rgba(154, 160, 185, 0.05), 0 5px 7px rgba(166, 173, 201, 0.2);
        width: 670px;
        z-index: 100;
        overflow: auto;
        display: flex;
        flex-direction: column;

        &__radioWrapper {
            padding: 10px;

            input {
                display: none;
            }

            &__label {
                display: inline;
                position: relative;
                padding-left: 35px;
                cursor: pointer;
                font-size: 22px;
                user-select: none;
            }

            /* Create a custom radio button */
            &__radio {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;
                border-radius: 50%;
                box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 10px 15px rgba(166, 173, 201, 0.2);

                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
            }

            /* On mouse-over, add a grey background color */
            &__label:hover input ~ &__radio {
                background-color: #ccc;
            }

            /* When the radio button is checked, add a blue background */
            &__label input:checked ~ &__radio {
                background-color: #2196F3;
            }

            /* Show the indicator (dot/circle) when checked */
            &__label input:checked ~ &__radio:after {
                display: block;
            }

            /* Style the indicator (dot/circle) */
            &__label &__radio:after {
                top: 9px;
                left: 9px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: white;
            }
        }
    }
</style>