<template>
    <div class="searchWrapper">
        <div :class="['searchWrapper__inputWrapper', { 'searchWrapper__inputWrapper--resultSelected': isLocationSelected }]">
            <input type="text"
                   :class="['searchWrapper__inputWrapper__input', { 'searchWrapper__inputWrapper__input--resultSelected' : isLocationSelected}]"
                   v-model="search.query"
                   placeholder='Enter destination ex. "Split, Croatia"' ref="input">
            <results-component :results="results" v-if="!isLocationSelected"></results-component>
            <add-location v-if="isAddLocation"></add-location>
            <info v-if="isLocationSelected"></info>
        </div>
        <login v-if="!loggedIn && openLoginModal"></login>
    </div>
</template>

<script>
    import Info from './InfoComponent';
    import AddLocation from './AddLocationComponent';
    import Results from './ResultsComponent';
    import Login from './LoginComponent';
    import {store} from '../store.js';

    export default {
        name: 'search',
        components: {
            Info,
            AddLocation,
            Login,
            'results-component': Results
        },
        store: store,
        mounted() {
            this.$store.commit('setInputRef', this.$refs.input);
            this.debouncedSearchQuery = _.debounce(value => {
                this.checkSearchQuery(value);
            }, 500);
            this.$store.commit('setUser', window.user);
        },
        data() {
            return {
                search: {
                    query: "",
                    location: "",
                    country: ""
                },
                reviewData: {
                    score: null,
                    comment: "",
                    pros: "",
                    cons: ""
                },
                results: []
            }
        },
        methods: {
            searchDestination() {
                axios.get('search?q=' + this.search.query).then(response => {
                    this.results = response.data.results;
                });
            },
            cancelAddReview() {
                this.reviewData = {
                    score: null,
                    comment: "",
                    pros: "",
                    cons: ""
                };
                this.$refs.input.focus();
            },
            checkSearchQuery(value) {
                let searchQuery = value.trim();
                if (searchQuery === "") this.$store.commit('setSearchQuery', this.search.query);
                if (searchQuery === "" || searchQuery.length < 3) {
                    this.results = [];
                    this.$store.commit('setErrorSearchMessage', "Too short!");
                    this.$store.commit('setModalOpen', false);
                    this.$store.commit('setAddLocation', false);
                    return;
                } else if (searchQuery.length > 2) {
                    this.$store.commit('setErrorSearchMessage', "");
                    this.$store.commit('setSearchQuery', this.search.query);
                    this.searchDestination();
                    this.cancelAddReview();
                }
            }
        },
        watch: {
            searchQuery(value) {
                this.debouncedSearchQuery(value);
            }
        },
        computed: {
            searchQuery() {
                return this.search.query;
            },
            isLocationSelected() {
                return this.$store.getters.getSelectedLocation !== null;
            },
            isAddLocation() {
                return this.$store.getters.getAddLocation;
            },
            loggedIn() {
                return this.$store.getters.getLoggedIn;
            },
            openLoginModal() {
                return this.$store.getters.getLoginModal;
            }
        }
    }
</script>
