<template>
    <div class="searchWrapper">
        <div :class="['searchWrapper__inputWrapper', { 'searchWrapper__inputWrapper--resultSelected': isUserSelected }]">
            <input type="text"
                   :class="['searchWrapper__inputWrapper__input', { 'searchWrapper__inputWrapper__input--resultSelected' : isUserSelected}]"
                   v-model="search.query"
                   placeholder='Search users' ref="input">
            <user-results-component></user-results-component>
        </div>
    </div>
</template>

<script>
    import UserResults from './UserResultsComponent';
    import {store} from '../store.js';

    export default {
        name: 'user-search',
        components: {
            'user-results-component': UserResults
        },
        store: store,
        created() {
            this.$store.commit('setUser', window.user);
        },
        mounted() {
            this.$store.commit('setInputRef', this.$refs.input);
            this.debouncedSearchQuery = _.debounce(value => {
                this.checkSearchQuery(value);
            }, 500);


        },
        data() {
            return {
                search: {
                    query: "",
                    location: "",
                    country: ""
                },
                reviewData: {
                    score: null,
                    comment: "",
                    pros: "",
                    cons: ""
                },
                results: []
            }
        },
        methods: {
            cancelAddReview() {
                this.reviewData = {
                    score: null,
                    comment: "",
                    pros: "",
                    cons: ""
                };
                this.$refs.input.focus();
            },
            checkSearchQuery(value) {
                this.$store.commit('setSearchQuery', this.search.query);
                this.searchUsers();
                this.cancelAddReview();

            },
            searchUsers(page = 1) {
                axios.get('/users', {
                    params: {
                        page: page,
                        q: this.search.query
                    }
                })
                    .then(response => {
                        console.log(response);
                        this.users = response.data;
                        this.$store.commit('setUsers', response.data.data);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
        },
        watch: {
            searchQuery(value) {
                this.debouncedSearchQuery(value);
            }
        },
        computed: {
            searchQuery() {
                return this.search.query;
            },
            isUserSelected() {
                return false;
            },
        }
    }
</script>
