<template>
    <div class="userstack">
        <i class="fas fa-bars userstack__icon" @click="sidebarOpen = true" v-if="user !== null"></i>
        <i class="fas fa-user-lock userstack__icon" @click="openLoginModal" v-else></i>
        <div :class="['userstack__sidebar',{ 'userstack__sidebar--hidden' : !sidebarOpen}]"
             v-show="sidebarOpen && user != null">
            <i class="fas fa-angle-double-right userstack__icon" @click="sidebarOpen = false"></i>
            <div class="userstack__sidebar__username">
                {{ user != null ? user.username : "" }}
            </div>
            <a href="/admin" class="userstack__sidebar__admin" v-if="!isAdminPage && userIsAdmin">
                Admin panel
            </a>
            <a href="/" class="userstack__sidebar__admin" v-else-if="isAdminPage && userIsAdmin">
                Home
            </a>
            <div class="userstack__sidebar__admin" @click="openSettingsModal">
                Settings
            </div>
            <user-settings-modal></user-settings-modal>
            <div class="btn btn--danger userstack__sidebar__button" @click="logout">Logout</div>
        </div>
    </div>
</template>

<script>
    import {store} from '../store.js';
    import UserSettingsModal from "./UserSettingsModal";

    export default {
        name: 'userstack',
        components: {UserSettingsModal},
        store: store,
        data() {
            return {
                sidebarOpen: false,
                isAdminPage: false,
                userIsAdmin:null,
            }
        },
        mounted() {
            this.isAdminPage = window.isadmin;
            this.userIsAdmin = user !== null ? user.is_admin : false;
        },
        methods: {
            logout() {
                axios.post('/logout').then(response => {
                    if (response.data.success) location.reload();
                }).catch(error => {

                });
            },
            openLoginModal() {
                this.$store.commit('setLoginModal', true);
            },
            openSettingsModal() {
                this.$store.commit('setModal', ['local', 'opened', true]);
                this.$store.commit('setModal', ['local', 'type', 'settings']);
            }
        },
        computed: {
            user() {
                return this.$store.getters.getUser;
            },
        }
    }
</script>

<style scoped lang="scss">
    .userstack {
        &__icon {
            position: fixed;
            top: 10px;
            right: 20px;
            z-index: 2;

            &:hover {
                cursor: pointer;
            }
        }

        &__sidebar {
            background: #fff;
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            width: 250px;
            box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 10px 15px rgba(166, 173, 201, 0.2);
            z-index: 10;
            display: flex;
            align-items: center;
            flex-direction: column;
            transition: 0.3s all;

            &--hidden {
                width: 0;
            }

            &__username {
                margin-top: 50px;
                font-size: 1.4rem;
                font-family: 'Montseratt', sans-serif;
            }

            &__admin {
                margin-top: 30px;
                font-family: sans-serif;
                text-decoration: none;
                color: royalblue;

                &:hover {
                    cursor: pointer;
                }
            }

            &__button {
                margin-top: 50px;
                padding: 10px;
                height: 20px;
                width: 50%;
                display: flex;
                justify-content: center;
            }
        }
    }

    .loginstack {
        position: fixed;
        top: 10px;
        right: 20px;
        z-index: 2;

        &:hover {
            cursor: pointer;
        }
    }
</style>
