<template>
    <div class="usersWrapper">
        <user :p-user="user" v-for="user in getUsers" :key="user.id"></user>
        <p class="userWrapper__noUsers" v-if="users.length === 0"> No users found.</p>
        <pagination class="paginator" :data="users" @pagination-change-page="fetchUsers" align="center"
                    size="small"></pagination>
    </div>
</template>

<script>
    import User from "./UserComponent";

    export default {
        name: 'user-results',
        components: {User},
        data() {
            return {
                users: {
                    data: []
                }
            }
        },
        mounted() {
            this.fetchUsers();
        },
        methods: {
            fetchUsers(page = 1) {
                axios.get('/users?page=' + page)
                    .then(response => {
                        this.users = response.data;
                        this.$store.commit('setUsers', response.data.data);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            setModalState(modalNameState) {
                this.$store.commit(modalNameState, true);
            }
        },
        computed: {
            isModalOpen() {
                return this.$store.getters.getModalOpen;
            },
            getUsers() {
                return this.$store.getters.getUsers;
            }
        }
    }
</script>

<style scoped lang="scss">

    .usersWrapper {
        padding: 30px 0;
        box-sizing: border-box;
        position: absolute;
        top: calc(100% + 35px);
        left: 0;
        border-radius: 10px;
        background: #fbfdff;
        box-shadow: 0 3px 12px rgba(154, 160, 185, 0.05), 0 5px 7px rgba(166, 173, 201, 0.2);
        width: 100%;
        display: flex;
        flex-direction: column;
    }
</style>