<template>
    <div class="overlayWrapper" v-if="modal.opened && modal.type == 'settings'">
        <div class="overlayWrapper__modalWrapper">
            <errors :errors="errors"></errors>
            <div class="form-group">
                <label for="username">Username: </label>
                <input type="email" class="input" id="username" name="username"
                       v-model="data.username"
                       placeholder="Username">
            </div>
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" class="input" id="email" name="email"
                       v-model="data.email"
                       placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" class="input" id="password" name="password"
                       v-model="data.password"
                       placeholder="Password" @keydown.enter.once="login">
            </div>
            <div class="form-group">
                <label for="repassword">Repeat password: </label>
                <input type="password" class="input" id="repassword" name="repassword"
                       v-model="data.password_confirmation"
                       placeholder="Repeat password" @keydown.enter.once="update">
            </div>
            <div class="overlayWrapper__modalWrapper__buttonsWrapper">
                <button class="btn btn--outlined--danger" @click="cancel">Cancel
                </button>
                <button class="btn btn--success" @click="update">Update</button>
            </div>
        </div>
    </div>
</template>

<script>
    import Errors from './ErrorsComponent';
    import {store} from '../store.js';

    export default {
        name: 'user-settings-modal',
        store: store,
        components: {
            Errors
        },
        data() {
            return {
                data: {
                    username: "",
                    email: "",
                    password: "",
                    password_confirmation: "",
                },
                errors: [],
            }
        },
        methods: {
            update() {
                axios.patch("/user/" + this.user.id, this.data)
                    .then(response => {
                        let user = this.user;
                        this.$store.commit('updateArrayValue', ['users', this.user.id, user]);
                        this.cancel();
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors;
                    });

            },
            cancel() {
                this.$store.commit('setModal', ['local', 'opened', false]);
                this.$store.commit('setModal', ['local', 'type', null]);
            }
        },
        watch: {
            user(value) {
                console.log(value);
                this.data = Object.assign({},value);
            }
        },
        computed: {
            modal() {
                return this.$store.getters.getModal('local');
            },
            user() {
                return this.$store.getters.getUser;
            },
        }
    }
</script>


<style scoped lang="scss">
    .buttonsWrapper {
        width: 100%;
    }

    .loginWrapper {
        padding: 30px 40px 15px 40px;
        box-sizing: border-box;
        position: fixed;
        border-radius: 10px;
        background: #fbfdff;
        box-shadow: 0 3px 12px rgba(154, 160, 185, 0.05), 0 5px 7px rgba(166, 173, 201, 0.2);
        width: 670px;
        z-index: 900;
        overflow: auto;
        display: flex;
        flex-direction: column;

        &__switchText {
            margin: 20px auto 10px auto;
            font-family: sans-serif;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;

        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }


    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

</style>