<template>
    <div class="usersWrapper__item">
        <span class="usersWrapper__item__username">{{ user.username}}</span>
        <span class="usersWrapper__item__admin">{{ user.is_admin}}</span>
        <div class="buttonsWrapper">
            <i class="fas fa-edit" @click="openEdit"></i>
            <i class="fas fa-trash" @click="openDelete"></i>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'user',
        props: ['pUser'],
        data() {
            return {}
        },
        methods: {
            openEdit() {
                this.$store.commit('setSelectedUser', this.user);
                this.$store.commit('setModal', ['local', 'type', 'edit']);
                this.$store.commit('setModal', ['local', 'opened', true]);

            },
            openDelete() {
                this.$store.commit('setSelectedUser', this.user);
                this.$store.commit('setModal', ['local', 'type', 'delete']);
                this.$store.commit('setModal', ['local', 'opened', true]);
            },
            setModalState(modalNameState) {
                this.$store.commit(modalNameState, true);
            }
        },
        computed: {
            isModalOpen() {
                return this.$store.getters.getModalOpen;
            },
            loggedIn() {
                return this.$store.getters.getLoggedIn;
            },
            user() {
                return this.pUser;
            }
        }
    }
</script>

<style scoped lang="scss">
    .usersWrapper__item {
        display: flex;
        align-items: center;
        height: 180px;
        padding: 10px 15px;
        font-family: sans-serif;

        &__username {
            margin: auto auto auto 10px;
            font-size: 1.3rem;
        }

        &__admin {
            margin: auto 25px auto auto;
            font-size: 1.1rem;
            color: #5f6977;
        }
    }

    .buttonsWrapper {
        margin: auto 10px auto 25px;

        &:hover {
            cursor: pointer;
        }
    }
</style>